$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$primary-color: #2fa3eb;
$red-color: #da1f26;
$blue-color: #00adee;
$green-color: #a2be4a;
$pink-color: #e64093;
$black-color: #121112;
$grey-color:#515051;
$purple-color: #ac00ee;
$yellow-color: #eec200;
$brand-primary:$blue-color;//** Default progress bar color
$brand-success:$green-color;//** Success progress bar color
$brand-warning:$red-color;//** Warning progress bar color
$brand-danger:$red-color;//** Danger progress bar color
$brand-info:$brand-primary;//** Info progress bar color
$alert-success-bg: #ffffff;
$alert-danger-bg: #ffffff;

@import "custom-mixins";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/theme.scss";

.container-fluid {
  max-width: 1024px;
}
h1, h2 {
  margin:0;
  padding:0;
}
.current-letter {
  font-size: 75px;
  color:$green-color;
  font-family: 'Short Stack', cursive;
  text-shadow: 3px 0 0 rgba(0, 0, 255, 0.6);
  @include threedeetext($green-color);
 
}
.col-sm-3 img{
  width:260px;
  height:220px;
 
}
#letters .col-xs-6 a {
  font-size: 50px;
  @extend .current-letter;
}
#letters .col-xs-6 a:hover {
  text-decoration:none;
  cursor:pointer;
}
#letters img {
  width:50%;
  height:50%;
}
#alert {
  margin: 20px 0;
}
#intro {
  background: $green-color;
  margin:5px 0;
  min-height: 715px;
  
}
.shadow {
  -moz-box-shadow:    1px 2px 2px 3px #ccc;
  -webkit-box-shadow: 1px 2px 2px 3px #ccc;
  box-shadow:         1px 2px 2px 3px #ccc;
}
.progress {
  border:1px solid #8f8f8f;
}
.alert-success {
  color: $black-color;
}
.new-game {
 // min-height:175px;
}
.new-game a {
  height: 44px;
  font-size: 20px;
  text-align:center;
  padding:6px 0 0 0;
}
.alert {
  box-shadow:none;
  border:none;
  color: $black-color;
  font-size: 12px;
  font-weight:bold;
}
.alert-info {
  background:none;
}

