<div ng-controller="GameCtrl as ctrl">
  <h1>{{ctrl.gameTitle}}</h1>
  <div class="alert" ng-class="{'alert-info': lastCorrect === undefined, 'alert-success': lastCorrect, 'alert-danger': lastCorrect === false}">{{ctrl.message}}</div>
  <h2>Current Letter: {{ctrl.currentLetter}}</h2>
  <div class="row">
    <div class="col-sm-3" ng-repeat="letter in ctrl.givenAnswers">
      <a class="btn btn-primary btn-block" ng-click="ctrl.checkAnswer(letter)">{{letter}}</a>
    </div>
  </div>
  <div class="row" style="padding-top:1em">
    <div class="col-sm-12">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ctrl.progress}}%"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ctrl.rightAnswers}}%"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ctrl.wrongAnswers}}%"></div>
      </div>
    </div>
  </div>
</div>
