<div ng-controller="GameCtrl as ctrl">
  
  <div id="intro" class="col-sm-3 shadow">
    <h1 style="text-align:center;">{{ctrl.gameTitle}}</h1>
    <!-- <h2 style="text-align:center;">Learning ABC's</h2> -->
    
    <div>
     <div id="alert" class="alert" ng-class="{'alert-info': ctrl.lastCorrect === undefined, 'alert-success':  ctrl.lastCorrect, 'alert-danger':  ctrl.lastCorrect === false}">{{ctrl.message}}</div>
  
      <div class="col-sm-6 text-right">
       <p>Progress</p>
       <p>percent correct</p>
       <p>wrong answers</p>
      </div>
     
    </div>
     
    <div class="col-sm-6">
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ctrl.progress}}%"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: {{ctrl.rightAnswers}}%"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width: {{ctrl.wrongAnswers}}%"></div>
      </div>
    
    </div>
   <br><br>
    <div class="col-sm-12 new-game">
      <p></p>
         <code>Play Again!</code>
         <a class="btn btn-warning btn-block" href="" onclick="location.reload();">NEW GAME</a>
    </div>
    
  </div>
  
  <div class="col-sm-9">
    <h3 style="text-align:center;">
      <span class="current-letter">{{ctrl.currentLetter}}</span>
    </h3>
    <!-- <h4 style="text-align:center;"></h4> -->
    <div id="letters" class="row">
   
      <div class="col-xs-6" ng-repeat="letter in ctrl.givenAnswers">
        <p class="text-center "><a ng-click="ctrl.checkAnswer(letter)">{{letter}}
          <br/>
          <img ng-src="images/{{letter}}.png" />
        </a></p>
      </div>
   
  </div>
  
  
  
  
</div>
